* {
    box-sizing: border-box;
}
.wrapper {
    width: 100%;
    margin: 0 auto;
    background: #eed;
}

.description {
    background: #555;
    color: #fff;
    margin-top: 30px;
    padding: 10px;
}
.description p {
    padding: 0;
    margin: 0;
}

.flex-container {
    background: #aaa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-container-2 {
    background: #aaa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-container-3 {
    background: #aaa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.box {
    height: 50px;
    min-width: 50px;
    line-height: 50px;
    color: #fff;
    text-align: center;
}

.first {
    background: #000;
}

.second {
    background: #861;
}

.third {
    background: #893;
}

.fourth {
    background: #047;
}

.fifth {
    background: #645;
}

.sixth {
    background: #848;
}

.flex-container-3 .first {
    background: #000;
}

.flex-container-3 .second {
    background: #861;
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
}

.flex-container-3 .third {
    background: #893;
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
}

.flex-container-3 .fourth {
    background: #047;
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
}

.flex-container-3 .fifth {
    background: #645;
    -webkit-box-flex: 8;
    -ms-flex-positive: 8;
    flex-grow:8;
}

.flex-container-3 .sixth {
    background: #848;
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
}

.flex-container-4 {
    background: #aaa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-container-4 .box {
    height: 50px;
    min-width: 150px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

